.resource-form {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding: 3em 2em 3em 0em;
    margin-top: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;

    /*
     * Small viewport (mobile)
     */
    @media (max-width: 767px) {
        width: 90%;
        max-width: 600px;

    }

    nav {
        width: 25%;


        ul {
            li {
                border-left: 3px solid #dadada;
                cursor: pointer;
                padding: 1em;
                transition: 250ms all;
                
            }
            li:hover {
                background: #e7e0ec;
            }
            li.a {
                font-weight: 700;
                border-left: 3px solid #30177b;
            }
        }
    }

    form {
        width: 72%;
        margin-left: 3%;
    	button, .publish {

    		width: 100%;
		    color: #fff;
            text-align: center;
		    text-transform: uppercase;
		    font-size: .75em;
		    background: #3f4cca;
		    padding: 10px 25px;
		    margin-top: 1.5em;
            cursor: pointer;
    	}
        .publish {
            background: #9dab9f;
        }
    	input, textarea, select {

    		margin-bottom: 2em;
    		max-width: 650px;
    		width: 100%;
		    padding: 15px;
		    font-size: .9em;
            background: #f7f7f7;
            border: none;
            border: 1px solid #999;
            border-radius: 5px;

    	}
    	select {
    		height: 4em;
            background: #f9f9f9;
    	}
    	label {
    		text-transform: normal;
 		}
        
    
    	
    }
}
.field {
    position: relative;
    div {
        span {
            color: #ff2f2f;
            position: absolute;
            bottom: 0.5em;
            font-size: .75em;
        }
    }
}
.questionnaire, .basic-info, .images {

    display: none;
    &.a {
            display: block;
        }

}
