header { 

  a { 
    color: #000;
    text-decoration: none; 
  }


    nav {

      
      
      
      margin: 0 auto;
      max-width: 1318px;

    }
    background: #FFF;
    border-bottom: 1px solid #9a9a9a; 
    position: relative;
    padding: 1.5em;
    width: 100%;

    h1 { 
      font-size: 1.5em;
      font-family: 'Heebo', cursive;
      padding: 0em;
      text-align: left; 
      font-weight: 300;
    }
    
    .lilo {
        height: inherit;
        right: 0;
        top: 0;
        position: absolute;
        padding: .55em 1em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .75em;
        background: #bdb2ca;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 8%;
        margin-top: 1.5em;
        transition: 500ms all;
    }
    .lilo:hover {
        background: #7e6898;
    }

  }

