footer {
	border-top: 1px solid #9a9a9a; 
	margin-top: 4em;
	padding: 100px 0;
	background: #fff;
	font-weight: 100;

	nav {
		margin: 0 auto;
		width: 90%;

		h6 {
			font-size: 1em;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}