.row.resource {
	margin: 0 auto;
	margin-top: 3em;
	max-width: 960px;

	.ResourceItem {
		position: relative;
		.img {
			

			img {
				border-radius: 10px 10px 0 0;
				border-bottom: 3px solid #2d0267;
				display: block;
				margin: 0 auto;
				width: 100%;
			}
		}
		.qu {
			padding: 3em 4em;
			position: relative;
			background: #f7f7f7;
			
			.text {
				height: 0;
			    overflow: hidden;
			    box-shadow: inset 1px -8px 15px 0px #eaeaea;
			    padding: 0em 4em;
			}
			h3 {
				text-align: center;
			    background: #bdb2ca;
			    color: #fff;
			    padding: 10px 0;
			    width: 170px;
			    border-radius: 5px;
			    margin: 0 auto;
			    position: relative;
			    text-transform: uppercase;
			    font-size: .875em;
			    cursor: pointer;
			    transition: 500ms all;
			}
			h3:hover {
				background: #7e6898;
			}
		}
		.text {
			position: relative;
			background: #f7f7f7;
		    
		    margin: 0em auto;
		    padding: 3em 4em;
		    width: 100%;
		
			h2 {
				font-size: 2em;
				padding-bottom: .3em;
			}
			h3 {
				font-size: 1.25em;
				margin-bottom: .5em;
			}
			h4 {
				a {
					text-decoration: none;
				}
			}
			h5 {
				position: absolute;
			    right: 3em;
			    color: #b9b9b9;
			}
			h6 {
			    display: inline-block;
			    text-transform: uppercase;
			    font-size: .825em;
			    padding: 5px 0 10px 0;
			    color: #000;
			    margin-bottom: 10px;
			}
			p {
				margin-bottom: 1em;
    			line-height: 1.5em;
			}
		}
	}
}

.controls {
	max-width: 960px;
    margin: 0 auto;
    .delete {
    	padding: 1em 2em;
    	background: #afe;
    	display: inline-block;
    }
}


