@import '~scss/core';

.Resources {
	font-family: 'Open Sans', sans-serif;

	h2 {
		font-size: 1.5em;
		
	}
	

	input {
		
	}

	button.add {
		background: #11a;
		border-radius: 10px;
		color: #fff;
		padding: 1em 2em;

	}
	.resources-list {
		display: flex;
	
		.ResourceItem {
			cursor: pointer;	
		    padding: 10px;

		    margin-bottom: 1em;

	        max-width: 660px;

	        .wrap {
	        	height: 100%;
	            background: #f3f3f3;
	            box-shadow: 0px 0px 1px 0px #717171;
	            border-top: 1px solid #eaeaea;
	        	padding: 20px;
	        }

	        .text {
	        	position: relative;
	        	width: 97%;
	        	margin: 1em auto;
	        	a { color: #a20000; }
	        	h2 {
	        		padding-bottom: .25em;
	        	}
	        	h3 {
	        		font-size: 1.125em

	        	}
	        	h4 {

	        	}
	        	h5 {
	        		float: right;
    				color: #ababab;
    				margin-top: 1em;
	        	}
	        	h6 {
	        		text-transform: uppercase;
    				font-size: .825em;
	        		padding: 5px 0 10px 0;
	        	}
	        	p {
	        		padding: 1em 0;
	        		font-size: 1em;
	        	}
	        }

	        a {
	        	text-decoration: none;
    			color: #000;
	        }


		    .img {
		    	display: block; 

		    	img {
		    		width: 100%;
		    	}
		    	
		    }

		}

	}
}

.search {
	margin: 2em 0;
    max-width: 660px;
    display: block;
    padding: 14px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #c3c3c3;
    background: #f5f5f5;
    background :#fff;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
}