@import '~scss/core';

body {  
  @import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,700');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  background: #f1f1f1;
}

.App {

  .main-wrap {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 1366px;
    padding: 0em 1.5em;
    width: 100%;
  }


  margin: 0;
  padding: 0;

  &:before {
    // content: '';
    // display: block;
    // width: 3rem;
    // height: 3rem;
    // margin-bottom: 1rem;
    // background: url('~assets/images/view-list.svg') 0 0 no-repeat;
    // background-size: contain;
  }
  h2, h3, h4, h5, h5, p, label {
      font-family: 'Heebo';
    }
}
.App .App {
  &-btnAdd {
    color: $color-primary;
  }
}

*:focus {
    outline: none;
}
